body {
  background-image: url("images/firewhip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: 'Trispace', sans-serif;
  background-image: linear-gradient(to left, rgb(85, 44, 85), rgb(192, 163, 212), rgb(11, 11, 169), rgb(23, 227, 23), rgb(227, 227, 28), rgb(185, 144, 68), rgba(174, 39, 39, 0.774));
  -webkit-background-clip: text;
  color: transparent;
}
p{
  font-family: 'Trispace', sans-serif;
  color: #F6AE2D;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.text-blue:hover{
  color: #33658A;
  background-color: #A41623;
}
#btn-color:hover{
  color: #A41623;
  background-color: #33658A;

}
#btn-color{
  text-decoration: none;
  background-color:  #6B72E1;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
#escondido{
  text-decoration: none;
  opacity: 0;
}
#escondido:hover{
  color: #A41623;
  background-color: #33658A;
  opacity: 0.1;
}
#titulo {
  text-align: center;
  width: 400px;
  margin: 10px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 4px;
}
#links {
  text-align: center;
  width: 400px;
  margin: 10px auto;
  background: #DEB841;
  padding: 30px;
  border-radius: 4px;
}
#full{
  color: #F1C40F;
}
img{
  width: 110px;
  border-radius: 50%;
}
.inline{
  list-style: none;
  padding-left: 0px;

}
.inline li {
  display: inline;
  margin: 10px;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

@keyframes fa-blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}
.fa-blink {
  -webkit-animation: fa-blink 1.3s linear infinite;
  -moz-animation: fa-blink 1.3s linear infinite;
  -ms-animation: fa-blink 1.3s linear infinite;
  -o-animation: fa-blink 1.3s linear infinite;
  animation: fa-blink 1s linear infinite;
}
